<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
</head>

<body class="sans-serif">
  <header>
    <div class="cover bg-left bg-center-l"
      style="background-image: url(https://www.conceptstorage.com/media/zoo/images/increase-warehouse-storage-capacity_4a32e3cb56b8fbced289eb2b9420edc3.jpg)">
      <div class="bg-black-50 vh-100">
        <div class="tc-l ph3">
          <p class="f1-l fw2 white-90 mb0 lh-title pt6">Armazenamento Inteligente</p>
          <p class="fw1 f3 white-80 mt3 mb4">Identificação automática de TAGs por Drone</p>
        </div>
      </div>
    </div>
  </header>
</body>

</html>