<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
</head>

<body class="sans-serif">
  <header>
    <div class="cover bg-left bg-center-l"
      style="background-image: url(https://www.conceptstorage.com/media/zoo/images/increase-warehouse-storage-capacity_4a32e3cb56b8fbced289eb2b9420edc3.jpg)">
      <div class="bg-black-50 vh-100">
        <div class="tc-l ph3">
          <p class="f1-l fw2 white-90 mb0 lh-title pt6">Armazenamento Inteligente</p>
          <p class="fw1 f3 white-80 mt3 mb4">Identificação automática de TAGs por Drone</p>
        </div>
      </div>
    </div>
  </header>
  <div class="vh-100 dt w-100 bg-moon-gray">
    <div class="dtc tc fw2 white-90 ph3 ph4-l">
      <p class="f1-l tl pa4">Estantes</p>
      <div class="flex-row flex">
        <div class="flex w-40">
          Description
        </div>
        <div class=" flex w-60">
          <div class="tr pr3 pb4 pt3">
            <div class="" style="background-image: url({{SVG_EmptyShelf}});
          background-repeat: no-repeat; background-size: contain; width: 700px; height: 500px;">
              <div class="flex-row flex w-50">
                <div class="fl w-20 pa2">
                  <img src={{SVG_Package}} class="h-auto" />
                </div>
                <div class="fl w-20 pa2">
                  <img src={{SVG_Package}} class="h-auto" />
                </div>
                <div class="fl w-20 pa2">
                  <img src={{SVG_Package}} class="h-auto" />
                </div>
                <div class="fl w-20 pa2">
                  <img src={{SVG_Package}} class="h-auto" />
                </div>
                <div class="fl w-20 pa2">
                  <img src={{SVG_Package}} class="h-auto" />
                </div>
              </div>
            </div>
          </div>
          <!-- <img src={{SVG_Package}} class="h-20" /> -->
        </div>
      </div>
    </div>
  </div>
</body>

</html>